<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        <main>
            <section class="site-404">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <p>Du suchts etwas das es nicht gibt. Ob unsere kleine Hexenkatze es wohl weggezaubert hat?</p>
                            <div>
                                <img src="{{ "/images/witch-cat.svg" | absURL }}" alt="witch-cat" />
                            </div>
                            <a
                                    class="nav-link btn btn-sm btn-primary btn-sm-rounded"
                                    href="{{ .Site.BaseURL }}"
                            >
              <span class="btn-area">
                  Zurück zur Startseite
                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </body>
</html>